{{ define "title" }}
	Topic index
{{ end }}

{{define "content"}}
<div class="container-fluid" id="vm">
	<div class="row justify-content-start align-items-start">
		<div class="col-5">
			<div class="card" style="max-height:90vh;">
				<div class="card-header">Topics
				</div>
				<div class="card-body" style="overflow:scroll;">
					<p class="card-text">
						<ul class="list-group border-right-0 border-left-0">
							<li class="list-group-item  border-right-0 border-left-0" v-for="t in pageData">
								<a v-bind:href="'/topic/' + t.Topic" >[[ t.Topic ]] | [[ t.Name ]]
									<span class="badge badge-info">Assessed [[ t.Assessed ]]</span>
 								</a>
							</li>
						</ul>
						<br>
						<ul v-if="numTopics > perPage" class="pagination text-center">
							<li class="page-item" v-bind:class="{disabled : getPage() == 0}">
								<a class="page-link" href="#" aria-label="Previous" v-on:click="prevPage">Previous</a>
							</li>
							<span v-for="p in visPages">
								<span v-if="p == page">
									<li class="page-item active"><a class="page-link" href="#" v-on:click="changePage(p)">[[ p + 1 ]]</a></li>
								</span>
								<span v-else>
									<li class="page-item"><a class="page-link" href="#" v-on:click="changePage(p)">[[ p + 1 ]]</a></li>
								</span>
							</span>
							</li>
							<li class="page-item" v-bind:class="{disabled : getPage() == numPages}">
								<a class="page-link" href="#" aria-label="Next" v-on:click="nextPage">Next</a>
							</li>
						</ul>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
{{ end }}

{{ define "js" }}
<script type="text/javascript">

	var vm = new Vue({
		el: '#vm',
		delimiters : ['[[', ']]'],
		data: {
			topics: [],
			page: 0,
			perPage: 10,
			pageNumVis: 5,
			pageData: [],
		},

		computed: {
			numTopics: function() {
				return this.topics.length;
			},
			numPages: function() {
				return Math.ceil(this.numTopics / this.perPage);
			},
			visPages: function() {
				var maxVis  = this.page + this.pageNumVis;
				var max = this.numPages >= (maxVis) ? maxVis : this.numPages;
				var ret = [];
				for (var i = this.page; i < max; i++) {
					ret.push(i);
				}
				return ret;
			},
		},
		methods: {
			getData: function() {
				var vm = this
				// // get topic data.
				var xhr = new XMLHttpRequest();
				xhr.open('GET', '/data', true);
				xhr.send();
				// console.log(xhr)
				xhr.onreadystatechange = function () {
					// console.log(xhr.readyState, xhr.status);
					if (xhr.readyState === 4 && xhr.status === 200) {
						var res = JSON.parse(xhr.responseText);
						vm.topics = res
						vm.slicePageData();
					} else if (xhr.readyState === 4 && xhr.status !== 200) {
						window.alert('Something went wrong getting page data!')
					}
				};
			},

			getPage: function() {
				return this.page;
			},

			nextPage: function(event) {
				this.page++;
				if (this.page >= this.numPages) {
					this.page = 0;
				}
			},

			prevPage: function(event) {
				this.page--;
				if (this.page < 0) {
					this.page = this.numPages;
				}
			},

			changePage: function(i) {
				this.page = i;
			},

			slicePageData: function() {
				var startPage = this.page * this.perPage;
				var endPage = startPage + this.perPage;
				var end = endPage >= this.numTopics ? this.numTopics : endPage;
				this.pageData = this.topics.slice(startPage, end);
			},
		},

		created: function() {
			this.getData();
		},

		watch: {
			page: function() {
				this.slicePageData();
			}
		}
	});
</script>
{{ end }}
